batch/src/main/mule/batch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1b11259f-a865-4f4a-b737-ad10b69d8004" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<flow name="batchFlow" doc:id="18340c42-f22a-44af-b80b-63b216b7215f" >
		<http:listener doc:name="Listener" doc:id="db62f988-8631-4728-8495-50e74626943e" config-ref="HTTP_Listener_config" path="batch"/>
		<set-payload value='#[[1,2,"a",4,5,"b","c",6]]' doc:name='[1,2,"a",4,5,"b","c"]' doc:id="ecd39921-7ae1-4cf4-bb41-4a84e54be58f" />
		<batch:job jobName="batchBatch_Job" doc:id="84b90c56-bc8c-4ee0-a8ba-f5dd7ae783b4" maxFailedRecords="10">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="cd9abcf1-fc58-485a-8a26-d121d966c01c" acceptExpression="#[payload is Number]" acceptPolicy="ALL">
					<set-payload value="#[payload * 10]" doc:name="payload * 10" doc:id="656964f4-da77-4029-8795-45eb612cda0d" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="0eb73526-c582-4e2e-9b0f-0b5bb7aa0327" size="2">
						<logger level="INFO" doc:name="Logger" doc:id="8c77567d-86fb-46eb-a08e-809f907fab57" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="8fdecccd-9ac7-422b-a271-b257f6f53630" acceptPolicy="ALL">
					<set-payload value="#[payload + 5]" doc:name="Set Payload" doc:id="702b6c19-dac8-40a6-880b-27d051f0d0d7" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d0e84223-4ba4-4d0f-8daa-6028f30bd257" size="2">
						<logger level="INFO" doc:name="Logger" doc:id="a134969b-8cad-42b9-8422-82ed0e531e0a" message='#["the alphabet is" ++ payload]' />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="4d7b7d08-8a7e-4713-9d36-389ac5b5f813" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
